<launch>

    <!-- Load controller parameters -->
    <rosparam command="load" file="$(find description)/config/ctrl_ackermann_steering_controller.yaml" />
    <rosparam command="load" file="$(find description)/config/ctrl_gains.yaml" />
    <rosparam command="load" file="$(find description)/config/ctrl_joint_state_publisher.yaml" />
    <rosparam command="load" file="$(find description)/config/ctrl_steer_bot_hardware_gazebo.yaml" />

    <!-- Spawn the controller -->
    <node pkg="controller_manager" type="spawner" name="base_controller_spawner" args="joint_state_publisher ackermann_steering_controller"/>

</launch>
