<launch>
    
    <arg name="use_gui" default="false"/>
    <arg name="world" default="drag_race"/>

    <!-- Simulate 'world' using Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find worlds)/$(arg world).world"/>
    
        <arg name="debug" value="false"/>
        <arg name="gui" value="$(arg use_gui)"/>
        <arg name="paused" value="false"/>

    </include>

    <!-- Spawn Robot -->
    <include file="$(find description)/launch/spawn.launch" />

</launch>
