<launch>
    
    <arg name="use_gui" default="true" />
    
    <!-- Run Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="gui" value="$(arg use_gui)" />
    </include>

    <!-- Spawn Robot -->
    <include file="$(find description)/launch/spawn_robot.launch" />
</launch>