<!--simulates the worlds given argument
    default world is drag_race, can modify world_name
    argument to change which world is spawned-->

<launch>
    
    <arg name="use_gui" default="true" />
    <arg name="world" default="drag_race" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
  
        <!-- will run the world with given name --> 
        <arg name="world_name" value="$(find worlds)/$(arg world).world" />
    
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="paused" value="false" />

    <!-- Spawn the robot -->
    <include file="$(find description)/launch/spawn.launch"/>

    <!-- Create instance of twist_mux -->
    <include file="$(find twist_mux)/launch/twist_mux_custom.launch">
      <arg name="cmd_vel_out" value="cmd_vel"/>
   </include>
      
</launch>
