<launch>

    <!-- start world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <!-- Load ackermann_steering_bot model -->
    <param name="robot_description"   
         command="$(find xacro)/xacro '$(find description)/urdf/photon.urdf.xacro'" />

    <!-- Load controller config -->
    <rosparam command="load" file="$(find description)/config/ackermann_steering_bot_controllers.yaml" />

    <!-- Load ackermann_steering_bot config -->
    <rosparam command="load" file="$(find description)/config/ackermann_steering_bot_hw_sim.yaml" />

    <!-- Load PIDs -->
    <rosparam file="$(find description)/config/pids.yaml" command="load"/>

    <!-- Load gazebo controller config -->
    <rosparam file="$(find description)/config/steer_bot_hardware_gazebo.yaml" command="load"/>

    <!-- Start ackermann_steering_bot -->
    <node name="ackermann_steering_controller_ackermann_steering_bot"
        pkg="ackermann_steering_controller"
        type="ackermann_steering_controller_ackermann_steering_bot"/>

    <!-- Spawn controller -->
    <node name="controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="ackermann_steering_bot_controller"/>
    
    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model photon -param robot_description -z 0.5"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- rqt_plot monitoring -->
    <!-- <node name="ackermann_steering_bot_pos_monitor"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/ackermann_steering_bot_controller/odom/pose/pose/position/x" />
    <node name="ackermann_steering_bot_vel_monitor"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/ackermann_steering_bot_controller/odom/twist/twist/linear/x" />
    <node name="ackermann_steering_bot_ang_vel_monitor"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/ackermann_steering_bot_controller/odom/twist/twist/angular/z" /> -->
    
    <!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find description)/rviz/photon.rviz"/>

    <!-- rqt steering -->
    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/ackermann_steering_bot_controller/cmd_vel"/> 
    </node>
</launch>

