<?xml version="1.0"?>
<robot name="materials" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- LIDAR -->
    <gazebo reference="lidar_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <!-- IMU -->
    <gazebo reference="imu_link">
        <material>Gazebo/Green</material>
    </gazebo>

    <!-- STEREO CAMERA -->
    <gazebo reference="camera_link">
        <material>Gazebo/Blue</material>
    </gazebo>

</robot>
